{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "anthropic": {
      "options": {
        "baseURL": "https://aiprimetech.io/v1",
        "apiKey": "REPLACE_WITH_YOUR_API_KEY"
      },
      "npm": "@ai-sdk/anthropic"
    }
  }
}
